@page "/clientes"

<PageTitle>Clientes</PageTitle>

<MudPaper Class="pa-4">
    <MudPaper Class="mud-width-full pa-6 mb-8" Elevation="2">
        <MudGrid>
            <MudItem xs="12" sm="12" md="12">
                <MudStack Row="true" Spacing="3">
                    <div>
                        <MudText Typo="Typo.h6">Consulta de Clientes</MudText>
                    </div>
                    <MudSpacer />
                    <div>
                        <MudButton 
                            Variant="Variant.Filled" 
                            StartIcon="@Icons.Material.Filled.Add" 
                            Color="Color.Info" 
                            Size="Size.Small" 
                            OnClick="NavigateToCadastroCliente">Cadastrar Cliente
                        </MudButton>

                        <MudButton 
                            Variant="Variant.Filled" 
                            StartIcon="@Icons.Material.Filled.Delete" 
                            Color="Color.Error" 
                            Size="Size.Small"
                            OnClick="DeletarClientesSelecionados">Deletar Cliente
                        </MudButton>
                    </div>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudPaper>

    <MudTable Items="_clientes">
        <HeaderContent>
            <MudTh>Selecionado</MudTh>
            <MudTh>Código</MudTh>
            <MudTh>Nome</MudTh>
            <MudTh>Telefone</MudTh>
            <MudTh>Foto</MudTh>
            <MudTh>Sexo</MudTh>
            <MudTh>Cidade</MudTh>
            <MudTh>Estado</MudTh>
            <MudTh>Data de Cadastro</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
                <MudCheckBox @bind-Value="@context.IsSelected" Color="Color.Error" UnCheckedColor="Color.Default"></MudCheckBox>
            </MudTd>
            <MudTd DataLabel="Código">@context.Codigo</MudTd>
            <MudTd DataLabel="Nome">@context.Nome</MudTd>
            <MudTd DataLabel="Telefone">@context.Telefone</MudTd>
            <MudTd DataLabel="Foto">
                <MudAvatar Size="Size.Medium" ImgSrc="@context.Foto" />
            </MudTd>
            <MudTd DataLabel="Sexo">@context.Sexo</MudTd>
            <MudTd DataLabel="Cidade">@context.Cidade.Nome</MudTd>
            <MudTd DataLabel="Estado">@context.Cidade.Estado</MudTd>
            <MudTd DataLabel="Data de Criação">@context.CreatedAt.ToString("dd/MM/yyyy HH:mm")</MudTd>
        </RowTemplate>
    </MudTable>

    <MudText Typo="Typo.subtitle2" Class="mt-4" Color="Color.Error" Hidden="@string.IsNullOrEmpty(_errorMessage)">
        @_errorMessage
    </MudText>
</MudPaper>

@code {
    private List<Cliente>? _clientes;
    private string _errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await CarregarClientes();
    }

    private async Task CarregarClientes()
    {
        try
        {
            _clientes = await ClientesService.GetClientes();
        }
        catch (Exception ex)
        {
            _errorMessage = $"Erro: {ex.Message}";
        }
    }

    private async Task DeletarClientesSelecionados()
    {
        var clientesSelecionados = _clientes.Where(c => c.IsSelected).ToList();

        foreach (var cliente in clientesSelecionados)
        {
            await ClientesService.DeletarCliente(cliente.Codigo);
        }

        await CarregarClientes();
    }

    private void NavigateToCadastroCliente()
    {
        NavigationManager.NavigateTo("/cadastro");
    }
}
