@page "/Clientes"
@inject ClientesService ClientesService

<PageTitle>Clientes</PageTitle>

<MudPaper Class="pa-4">
    <MudPaper Class="mud-width-full pa-6 mb-8" Elevation="2">
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <MudStack Row="true" Spacing="3">
                <div>
                    <MudText Typo="Typo.h6">Consulta de Clientes</MudText>
                </div>
                <MudSpacer />
                <div>
                    <MudButton 
                        Variant="Variant.Filled" 
                        StartIcon="@Icons.Material.Filled.Save" 
                        Color="Color.Info" 
                        Size="Size.Small" 
                        OnClick="ToggleForm">Cadastrar Cliente
                    </MudButton>

                    <MudButton 
                        Variant="Variant.Filled" 
                        StartIcon="@Icons.Material.Filled.Delete" 
                        Color="Color.Error" 
                        Size="Size.Small"
                        OnClick="DeletarClientesSelecionados">Deletar Cliente
                    </MudButton>
                </div>
            </MudStack>
        </MudItem>
    </MudGrid>

    </MudPaper>


    @if (showForm)
    {
        <MudForm @ref="form" @bind-IsValid="isValid" Validated="ValidateForm">
            <MudTextField 
                Label="Nome" @bind-Value="cliente.Nome" 
                Required="true"
                RequiredError="O campo 'Nome' é obrigatório!"
                T="string"
            />

            <MudTextField 
                Label="Telefone" @bind-Value="cliente.Telefone" 
                Required="true"
                RequiredError="O campo 'Telefone' é obrigatório!"
                T="string"
            />

            <MudTextField 
                Label="Foto" @bind-Value="cliente.Foto" 
                Required="true"
                RequiredError="A foto é obrigatória!"
                T="string"
            />

            <MudSelect 
                Label="Sexo" @bind-Value="cliente.Sexo" 
                Required="true"
                RequiredError="O campo 'Sexo' é obrigatório!"
                T="string"
            >
                <MudSelectItem Value="@("Masculino")" />
                <MudSelectItem Value="@("Feminino")" />
            </MudSelect>

            <MudTextField 
                Label="Cidade" @bind-Value="cliente.Cidade.Nome" 
                Required="true"
                RequiredError="O campo 'Cidade' é obrigatório!"
                T="string"
            />

            <MudTextField 
                Label="Estado" @bind-Value="cliente.Cidade.Estado" 
                Required="true"
                RequiredError="O campo 'Estado' é obrigatório!"
                T="string"
            />

            <MudButton OnClick="Salvar" Disabled="@(!isValid)">Salvar</MudButton>
        </MudForm>
    }

    <MudTable Items="_clientes">
        <HeaderContent>
            <MudTh>Selecionado</MudTh>
            <MudTh>Código</MudTh>
            <MudTh>Nome</MudTh>
            <MudTh>Telefone</MudTh>
            <MudTh>Foto</MudTh>
            <MudTh>Sexo</MudTh>
            <MudTh>Cidade</MudTh>
            <MudTh>Estado</MudTh>
            <MudTh>Data de Cadastro</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>
            <MudCheckBox @bind-Value="@context.IsSelected" Color="Color.Error" UnCheckedColor="Color.Default"></MudCheckBox>
            </MudTd>
            <MudTd DataLabel="Código">@context.Codigo</MudTd>
            <MudTd DataLabel="Nome">@context.Nome</MudTd>
            <MudTd DataLabel="Telefone">@context.Telefone</MudTd>
            <MudTd DataLabel="Foto">
                <MudAvatar Size="Size.Medium" ImgSrc="@context.Foto" />
            </MudTd>
            <MudTd DataLabel="Sexo">@context.Sexo</MudTd>
            <MudTd DataLabel="Cidade">@context.Cidade.Nome</MudTd>
            <MudTd DataLabel="Estado">@context.Cidade.Estado</MudTd>
            <MudTd DataLabel="Data de Criação">@context.CreatedAt.ToString("dd/MM/yyyy HH:mm")</MudTd>
        </RowTemplate>
    </MudTable>

    <MudText Typo="Typo.subtitle2" Class="mt-4" Color="Color.Error" Hidden="@string.IsNullOrEmpty(_errorMessage)">
        @_errorMessage
    </MudText>
</MudPaper>

@code {
    private List<Cliente>? _clientes;
    private Cliente cliente = new Cliente();
    private MudForm form;
    private bool isValid;
    private bool showForm = false;
    private string _errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await CarregarClientes();
    }

    private async Task CarregarClientes()
    {
        try
        {
            _clientes = await ClientesService.GetClientes();
        }
        catch (Exception ex)
        {
            _errorMessage = $"Erro: {ex.Message}";
        }
    }

    private async Task Salvar()
    {
        if (isValid)
        {
            var sucesso = await ClientesService.SalvarCliente(cliente);

            if (sucesso)
            {
                await CarregarClientes();
                showForm = false;
            }
            else
            {
                _errorMessage = "Erro ao salvar o cliente.";
            }
        }
    }

    private async Task DeletarClientesSelecionados()
    {
        var clientesSelecionados = _clientes.Where(c => c.IsSelected).ToList();

        foreach (var cliente in clientesSelecionados)
        {
            await ClientesService.DeletarCliente(cliente.Codigo);
        }

        await CarregarClientes();
    }

    private void ToggleForm()
    {
        showForm = !showForm;
    }

    private void ValidateForm()
    {
        isValid = form.IsValid;
    }
}
